<ion-view view-title="Staring Interface">
  <body>
  <ion-content class="padding">

  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>

  <div id="opponent">
    <img ng-src="{{opponentPhoto}}">
    <div id="you">
      <img ng-src="{{yourPhoto}}">
    </div>
  </div>

  </ion-content>
  </body>

  <ion-footer-bar class="bar-positive">
    <button class="button button-outline button-assertive">
      <b>ESCAPE</b>
    </button>
    <div class="button button-outline button-light pull-right"><b>01:50</b></div>
  </ion-footer-bar>


</ion-view>
