<ion-view view-title="Staring Interface">
  <ion-content class="padding">


  <body>
  <div id="square"></div>
  <div id="square"></div>
  <div id="square"></div>
  <div id="square"></div>

  <div id="opponent">
    <div id="you"></div>
  </div>

  </body>


  </ion-content>

  <ion-footer-bar class="bar-positive">
    <button class="button button-outline button-assertive">
      <b>ESCAPE</b>
    </button>
    <div class="button button-outline button-light pull-right"><b>01:50</b></div>
  </ion-footer-bar>


</ion-view>
