<ion-view view-title="Home">
  <ion-content style="background-color: #fed500;">
    <img style="margin-top: 65px" class="center-block img-responsive" src="img/look.png"/>
    <h3 style="text-align:center; color:white; font-family: Futura;">Staring with a twist</h3>
    <div>
      <button id="fb" class=" button button-positive item item-icon-left center-block" ng-click="login()">
        <i class="ion-social-facebook"></i>
        Log In with Facebook
      </button>

      <button id="twitter" class="button button-calm item item-icon-left center-block">
        <i class="ion-social-twitter"></i>
        Log In with Twitter
      </button>
    </div>
  </ion-content>
</ion-view>








