.square {
	height: 25px;
	width: 25px;
	border: 2px solid black;
	align: justified;
	display: block;
}

#opponent {
  height: 500px;
  width: 250px;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  margin: 0 0 0 125px;
}

#you  {
  height: 125px;
  width: 75px;
  border: 2px solid black;
  position: absolute;
  margin: 373px 0 0 173px;
}
